<div class="container mt-5 mb-5">
    <div class="row text-center">
        <h1 class="mt-5">About us</h1>
        <p>Established in 2004, KGN Interiors has been at the forefront of interior design innovation.<br>
            With nearly two decades of experience, our seasoned experts have honed their skills in creating captivating, functional spaces.
            We blend contemporary trends with timeless elegance to craft interiors that leave a lasting impression.
            Explore our portfolio, filled with a diverse range of projects, and let us guide you towards transforming your space into a masterpiece of design and comfort.
        </p>
    </div>
  <br>
    <div class="row text-center mt-5">
<!--        <img src="assets/img/zahidSayyed.jpg">-->
        <h5 class="mt-3">Zahid Sayyed</h5>
        <p>Proprietor</p>
        <h2 class="mt-5">Our Vision</h2>
        <p>At KGN Interiors, we envision a world where every space is a masterpiece of design, a reflection of individuality, and a sanctuary of comfort.
            We aspire to inspire creativity and elevate living through innovative, functional, and aesthetically captivating interiors.</p>
    </div>


</div>
